*.iml
.gitignore.swp
build/
.gradle/
.idea/
.gradle
/local.properties
app/buile/
app/libs/
app/*.iml
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
app/src/main/java/com/example/administrator/helloworld/MainActivity.java
/.idea/workspace.xml
/.idea/libraries
/captures
.externalNativeBuild

